<table class="table
    {% if config.css.table.condensed %}table-condensed{% endif %}
    {% if config.css.table.bordered %}table-bordered{% endif %}
">
    <caption>Comptes bloqués sur LDAP</caption>
    <thead>
        <tr>
            <th>CN</th>
            <th>sAMAccountname</th>
            <th>DN</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for item in badpasswd %}
            <tr class="badpasswd">
                <td>{{ item.cn }}</td>
                <td>{{ item.samaccountname }}</td>
                <td>{{ item.distinguishedname }}</td>
                <td>{{ convert_ldap_date(item.lockouttime) }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>