<table class="table
    {% if config.css.table.condensed %}table-condensed{% endif %}
    {% if config.css.table.bordered %}table-bordered{% endif %}
">
    <thead>
        <tr>
            <th>Ticket</th>
            <th>Demandeur</th>
            <th>Ouverture</th>
            <th>Dernière modif</th>
        </tr>
    </thead>
    {% for ticket in glpi %}
        <tr
            style='background-color:
            {% if ticket.priority == 1 %}#{{  config.css.glpi.priority1 }}{% endif %}
            {% if ticket.priority == 2 %}#{{  config.css.glpi.priority2 }}{% endif %}
            {% if ticket.priority == 3 %}#{{  config.css.glpi.priority3 }}{% endif %}
            {% if ticket.priority == 4 %}#{{  config.css.glpi.priority4 }}{% endif %}
            {% if ticket.priority == 5 %}#{{  config.css.glpi.priority5 }}{% endif %}
            {% if ticket.priority == 6 %}#{{  config.css.glpi.priority6 }}{% endif %}'
        >
            <td>
                {% if ticket.name|length < config.html.zabbix.maxlentitle %}
                    {{ ticket.name }}
                {% else %}
                    {{ ticket.name|slice(0, config.html.zabbix.maxlentitle) }}...
                {% endif %}
            </td>
            <td>{{ ticket.realname }} {{ ticket.firstname }}</td>
            <td>{{ ticket.date | date('d/m/y H:i') }}</td>
            <td>{{ ticket.date_mod | date('H:i')}}</td>
        </tr>
    {% endfor %}
</table>