<table class="table
    {% if config.css.table.condensed %}table-condensed{% endif %}
    {% if config.css.table.bordered %}table-bordered{% endif %}
">
    <thead>
        <tr>
            <th>Ticket</th>
            <th>Demandeur</th>
            <th>Ouverture</th>
            <th>Dernière modif</th>
        </tr>
    </thead>
    {% for ticket in glpi %}
        <tr {{ displayPriority(ticket.priority, 'glpi')|raw }}>
            <td>
                {% if ticket.name|length < config.html.glpi.maxlentitle %}
                    {{ ticket.name }}
                {% else %}
                    {{ ticket.name|slice(0, config.html.glpi.maxlentitle) }}...
                {% endif %}
            </td>
            <td>{{ ticket.realname }} {{ ticket.firstname }}</td>
            <td>{{ ticket.date | date('d/m/y H:i') }}</td>
            <td>{{ ticket.date_mod | date('H:i')}}</td>
        </tr>
    {% endfor %}
</table>