{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}
    <table class="table
        {% if config.css.table.condensed %}table-condensed{% endif %}
        {% if config.css.table.bordered %}table-bordered{% endif %}
    ">
        <thead>
            <tr>
                <th>Host</th>
                <th>Description</th>
                <th>Last Change</th>
            </tr>
        </thead>
        {% for event in zabbix %}
            <tr
                {% if event.priority == 4 %}class="error"{% endif %}
                {% if event.priority == 3 %}class="warning"{% endif %}
                {% if event.priority <= 2 %}class="info"{% endif %}
            >
                <td>{{ event.host }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.lastchange | date('d/m/y H:i') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}