<table class="table
    {% if config.css.table.condensed %}table-condensed{% endif %}
    {% if config.css.table.bordered %}table-bordered{% endif %}
">
    <caption>Triggers levés par Zabbix</caption>
    <thead>
        <tr>
            <th>Host</th>
            <th>Description</th>
            <th>Dernier changement</th>
        </tr>
    </thead>
    {% for event in zabbix %}
        <tr {{ displayPriority(event.priority, 'zabbix')|raw }}
             {% if event.acknowledged == "1" %}class="acknowledged"{% endif %}
        >

            <td>
                {{ event.host }}
            </td>
            <td>
                {{ event.description }}
            </td>
            <td>
                {{ event.lastchange | date('d/m/y H:i') }}
            </td>
        </tr>
    {% endfor %}
</table>