{% extends 'layout.html' %}

{% block title %}ASM Configuration{% endblock %}

{% block content %}
<div class="pane ui-layout-center">
    <div class="container">
        {% include 'partial/message.html' %}



            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#general" data-toggle="tab">General</a></li>
                <li><a href="#css" data-toggle="tab">CSS</a></li>
                {% if loggedRole() == 'admin' %}
                    <li><a href="#home" data-toggle="tab">Home</a></li>
                    <li><a href="#dbzabbix" data-toggle="tab">DB Zabbix</a></li>
                    <li><a href="#dbglpi" data-toggle="tab">DB GLPI</a></li>
                {% endif %}
            </ul>

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="general">
                    {% include 'Config/_general.html' %}
                </div>
                <div class="tab-pane fade" id="css">
                    {% include 'Config/_css.html' %}
                </div>
                {% if loggedRole() == 'admin' %}
                    <div class="tab-pane fade" id="home">
                        {% include 'Config/_home.html' %}
                    </div>
                    <div class="tab-pane fade" id="dbzabbix">
                        {% include 'Config/_db_zabbix.html' %}
                    </div>
                    <div class="tab-pane fade" id="dbglpi">
                        {% include 'Config/_db_glpi.html' %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}