<form action="/snmp/add" class="form-horizontal" method="post">

    {{ input('ip', 'ip')|raw }}
    {{ input('name', 'name')|raw }}
    {{ input('community', 'community', 'public')|raw }}
    <p>Object identifier (oid), les valeurs devrait être :
        <ul>
            <li>.1.3.6.1.2.1.2.2.1.10.x pour le download</li>
            <li>.1.3.6.1.2.1.2.2.1.16.x pour l'upload</li>
        </ul>
        Ou x représente le numéro de l'interface à surveiller.

    </p>
    {{ input('oid', 'oid')|raw }}
    <p>Valeurs exprimé en Mb/s</p>
    {{ input('warning', 'warning', null, 'warning')|raw }}
    {{ input('alert', 'alert', null, 'error')|raw }}
    {{ input('coefficient', 'coeff')|raw }}
    {{ submit('Enregistrer la règle')|raw }}

</form>