<div class="control-group">
    <label class="control-label" for="itemid">Éléments</label>
    <div class="controls">
        <select name="itemid" class="itemid">
            {% for i in item %}
                <option value="{{ i.itemid }}" id="{{ i.lastvalue }}">{{ i.name }} ({{ i.lastvalue }})</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="lastvalue">Dernière valeur</label>
    <div class="controls">
        <div class="lastvalue"></div>
    </div>
</div>

{{ input('Description facultative', 'name')|raw }}
{{ input('warning', 'warning', null, 'warning')|raw }}
{{ input('alert', 'alert', null, 'error')|raw }}
{{ input('coeff', 'coeff', 1)|raw }}
{{ submit('Ajouter')|raw }}