{% extends 'layout.html' %}

{% block title %}État des services{% endblock %}

{% block content %}
<div class="pane ui-layout-center">
    <div class="container">
        {% include 'partial/message.html' %}
            {{ avglevel(zabbix, config)|raw }}
        <table class="table table-bordered">
            <tr>
                <th>Description</th>
                <th>Last Value</th>
                <th>Prev Value</th>
                <th>warning / alert</th>
                <th>Tendance</th>
                {% if isAdmin() %}
                    <th>Action</th>
                {% endif %}
            </tr>

            {% for z in zabbix %}
                <tr class="{{ level(z) }}">
            {% if z.name == '' %}
                    <td>{{ z.hostname }} -- {{ z.itemname }}</td>
            {% else %}
                    <td>{{ z.name }}</td>
            {% endif %}
                    <td>{{ z.lastvalue }}</td>
                    <td>{{ z.prevvalue }}</td>
                    <td>{{ z.warning }} / {{ z.alert }}</td>
                    <td>{{ z.lastvalue - z.prevvalue }}</td>
                {% if isAdmin() %}
                    <th>
                        <a href="/state/del/{{ z.id }}" onclick="return confirm_delete()"><i class="icon-trash"></i></a>
                        <a href="/state/update/{{ z.id }}"><i class="icon-wrench"></i></a>
                    </th>
                {% endif %}
                </tr>
            {% endfor %}

        </table>

        {% if isAdmin() %}
            <div class="span3 offset4">
                <a href="/state/add"><button class="btn btn-success">Ajouter une règle</button></a>
            </div>
            <br />
        {% endif %}

        <table class="table table-bordered">
            <tr>
                <th>Mois</th>
                <th>Total</th>
                <th>En attente</th>
                <th>Assigné</th>
                <th>Fermé</th>
                <th>Résolu</th>
            </tr>
        {% for g in glpi %}
            <tr>
                <td>{{ g.month }}</td>
                <td>{{ g.total }}</td>
                <td>{{ g.waiting }}</td>
                <td>{{ g.assign }}</td>
                <td>{{ g.closed }}</td>
                <td>{{ g.solved }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}