{% extends 'layout.html' %}

{% block title %}État des services{% endblock %}

{% block content %}
<div class="pane ui-layout-center">
    <div class="container">
        {% include 'partial/message.html' %}

        <table class="table table-bordered">
            <tr>
                <th>Description</th>
                <th>Last Value</th>
                <th>Prev Value</th>
                <th>low / high</th>
                <th>Tendance</th>
            </tr>

            {% for z in zabbix %}
                <tr class="{{ level(z) }}">
            {% if z.name == '' %}
                    <td>{{ z.hostname }} -- {{ z.itemname }}</td>
            {% else %}
                    <td>{{ z.name }}</td>
            {% endif %}
                    <td>{{ z.lastvalue }}</td>
                    <td>{{ z.prevvalue }}</td>
                    <td>{{ z.low }} / {{ z.high }}</td>
                    <td>{{ z.lastvalue - z.prevvalue }}</td>
                </tr>
            {% endfor %}

        </table>


    </div>
</div>
{% endblock %}