---
mysql:
  zabbix:
    driver: Pdo_Mysql
    host: mysql.crbn.intra
    port: "3306"
    username: phpasm
    password: NWL6WM6hU9WMBAYY
    dbname: zabbix
  glpi:
    driver: Pdo_Mysql
    host: mysql.crbn.intra
    port: "3306"
    username: phpasm
    password: NWL6WM6hU9WMBAYY
    dbname: glpi
  phpasm:
    driver: Pdo_Mysql
    host: mysql.crbn.intra
    port: "3306"
    username: phpasm
    password: NWL6WM6hU9WMBAYY
    dbname: phpasm
ldap:
  host: dc1.crbn.intra
  port: 636
  usessl: true
  basedn: dc=crbn,dc=intra
  username: CN=Binding PHPAsm,OU=Comptes Gestion DSI,OU=CRBN,DC=crbn,DC=intra
  password: Ni4Ief3jo
install:
  baseurl: /
html:
  auth:
    msg: "En cas de probl\xE8me, merci de contacter Emmanuel Lesouef, mail: e.lesouef@crbn.fr"
debug:
  auth: false
  data: false
  post: false
  postarrray: false
  config: false
  sql: false
  route: false
  url: false
  session: false
...
