{% extends 'home_layout.html' %}

{% block title %}{{ config.home.title }}{% endblock %}

{% block content %}
<div id="home">
    <div class="span4">
        {% if config.tv.placeholder1.type is defined %}
            <div id="{{ config.tv.placeholder1.type }}">
                {% include 'Home/' ~ config.tv.placeholder1.type ~ 'tv.html'
                   with {'type': config.tv.placeholder1.type,
                         'data': config.tv.placeholder1.data} %}
            </div>
        {% endif %}
        {% if config.tv.placeholder2.type is defined %}
            <div id="{{ config.tv.placeholder2.type }}">
                {% include 'Home/' ~ config.tv.placeholder2.type ~ 'tv.html'
                   with {'type': config.tv.placeholder2.type,
                         'data': config.tv.placeholder2.data} %}
            </div>
        {% endif %}
        {% if config.tv.placeholder3.type is defined %}
            <div id="{{ config.tv.placeholder3.type }}">
                {% include 'Home/' ~ config.tv.placeholder3.type ~ 'tv.html'
                   with {'type': config.tv.placeholder3.type,
                         'data': config.tv.placeholder3.data} %}
            </div>
        {% endif %}
    </div>

    <div class="span4">
        {% if config.tv.placeholder4.type is defined %}
            <div id="{{ config.tv.placeholder4.type }}">
                {% include 'Home/' ~ config.tv.placeholder4.type ~ 'tv.html'
                   with {'type': config.tv.placeholder4.type,
                         'data': config.tv.placeholder4.data} %}
            </div>
        {% endif %}
        {% if config.tv.placeholder5.type is defined %}
            <div id="{{ config.tv.placeholder5.type }}">
                {% include 'Home/' ~ config.tv.placeholder5.type ~ 'tv.html'
                   with {'type': config.tv.placeholder5.type,
                         'data': config.tv.placeholder5.data} %}
            </div>
        {% endif %}
        {% if config.tv.placeholder6.type is defined %}
            <div id="{{ config.tv.placeholder6.type }}">
                {% include 'Home/' ~ config.tv.placeholder6.type ~ 'tv.html'
                   with {'type': config.tv.placeholder6.type,
                         'data': config.tv.placeholder6.data} %}
            </div>
        {% endif %}
    </div>
    <div class="span4">
        {% if config.tv.placeholder7.type is defined %}
            <div id="{{ config.tv.placeholder7.type }}">
                {% include 'Home/' ~ config.tv.placeholder7.type ~ 'tv.html'
                   with {'type': config.tv.placeholder7.type,
                         'data': config.tv.placeholder7.data} %}
            </div>
        {% endif %}
        {% if config.tv.placeholder8.type is defined %}
            <div id="{{ config.tv.placeholder8.type }}">
                {% include 'Home/' ~ config.tv.placeholder8.type ~ 'tv.html'
                   with {'type': config.tv.placeholder8.type,
                         'data': config.tv.placeholder8.data} %}
            </div>
        {% endif %}
        {% if config.tv.placeholder9.type is defined %}
            <div id="{{ config.tv.placeholder9.type }}">
                {% include 'Home/' ~ config.tv.placeholder9.type ~ 'tv.html'
                   with {'type': config.tv.placeholder9.type,
                         'data': config.tv.placeholder9.data} %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}