<div class="offset3">
    <h2>{{ config.home.zabbix.title }} {% if isAdmin() %}<small>Zabbix</small> {% endif %}<img src="/img/icon/medium/{{ avglevel(snmp, config) }}"/></h2>
</div>
<div class="span12">
    {% for metagroup in zabbix %}

            <h3>{{ metagroup.name }}</h3>

        <table class="table">
        {% for group in metagroup.sous_group %}
            <tr>
                <td>
                    <img src="/img/upload/{{ group.logo }}" alt="{{ group.logo }}">
                </td>
                <td>
                    {{ group.name }}
                </td>
                <td>
                    <img src="/img/icon/small/{{ avglevel(group.state) }}" alt="">
                </td>


                {% if isAdmin() %}
                <td>
                    <ul>
                        {% for state in group.state %}
                            <li class="{{ level(state) }}">{{ state.name }}</li>
                            <ul>
                                <li>Dernière valeur: {{ state.lastvalue }}</li>
                                <li>Précédante valeur: {{ state.prevvalue }}</li>
                                <li>Warning/Alert: {{ state.warning ~ '/' ~ state.alert}}</li>
                                <li>Coeff: {{ state.coeff }}</li>
                                <li>
                                    <a href="/state/del/{{ state.id }}" onclick="return confirm_delete()"><i class="icon-trash"></i></a>
                                    <a href="/state/update/{{ state.id }}"><i class="icon-wrench"></i></a>
                                </li>
                            </ul>
                        {% endfor %}
                    </ul>
                </td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
    {% endfor %}

</div>